# -------------------------
# Java / Maven
# -------------------------
target/
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.tmp

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# -------------------------
# Environment / Config
# -------------------------
.env
docker/.env
*.properties~
*.yml~
*.yaml~

# -------------------------
# IDEs / Editors
# -------------------------
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# -------------------------
# OS / System files
# -------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------
# Docker
# -------------------------
docker-compose.override.yml

# -------------------------
# Test / Reports / Coverage
# -------------------------
jacoco.exec
*.exec
surefire-reports/
generated-sources/
generated-test-sources/
